<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jml.sharding.db.slave.mapper.order.OrderMapper">

    <select id="queryOrderList" resultType="com.jml.sharding.db.slave.po.Order">
        select * from t_order where buyerId=#{buyerId}
    </select>

</mapper>