<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jml.mybatisplus.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.jml.mybatisplus.model.Product">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="total_amount" jdbcType="BIGINT" property="totalAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, status, total_amount
  </sql>
  <select id="getProductPageByLimitList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_tb limit #{pageNow},#{pageSize}
  </select>
  <select id="getProductPageByRowBoundsList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_tb
  </select>
  <select id="getProductPageByPageHelperList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_tb
  </select>
</mapper>